.App {
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 25px;
  border-inline-end-style: solid;
  border-inline-color: black;
  border-inline-width: 12px;
  background: white;
}

.Header {
  padding-top: 25px;
}

.Calculator {
  padding-left: 50px;
  padding-right: 50px;
}

.Table {
  padding-left: 50px;
  padding-right: 50px;
}
.content {
  padding-bottom: 50px;
}
