.App {
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 25px;
  background: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Component {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.Button {
  background-color: green;
}

